In [25]:
import pandas as pd 
import numpy as np
from scipy import stats
from itertools import product

In [21]:
quicksort_df = pd.read_csv("measurements_1513.csv")
quicksort_df

       Size        Type      Time
0     70000  Sequential  0.022208
1     70000    Parallel  0.457282
2     70000    Built-in  0.037789
3       300  Sequential  0.000168
4       300    Parallel  0.062361
..      ...         ...       ...
445  500000    Parallel  0.180554
446  500000    Built-in  0.136396
447   90000  Sequential  0.026489
448   90000    Parallel  0.161370
449   90000    Built-in  0.019197

[450 rows x 3 columns]

In [41]:
def confidence_interval(data):
    n = len(data)
    mean = data.mean()
    se = 2 * np.std(data) / np.sqrt(n)
    return (float(mean - se), float(mean + se))

In [46]:
ci_df = {"Type": [], "Size": [], "Inf": [], "Sup": []}
for (t,s) in product(quicksort_df["Type"].unique(), quicksort_df["Size"].unique()):
    ci_df["Type"].append(t)
    ci_df["Size"].append(s)
    
    data = quicksort_df[(quicksort_df["Type"] == t) & (quicksort_df["Size"] == s)]["Time"]
    inf, sup = confidence_interval(data)

    ci_df["Inf"].append(round(inf, 6))
    ci_df["Sup"].append(round(sup, 6))

In [47]:
pd.DataFrame(ci_df).sort_values(by=["Type", "Size"])

          Type     Size       Inf       Sup
82    Built-in       10  0.000001  0.000002
83    Built-in       30  0.000003  0.000005
64    Built-in       50  0.000006  0.000010
70    Built-in       70  0.000007  0.000011
69    Built-in       90  0.000008  0.000015
..         ...      ...       ...       ...
25  Sequential  1000000  0.283844  0.452957
11  Sequential  3000000  1.126896  1.350701
8   Sequential  5000000  1.802505  2.097595
20  Sequential  7000000  2.858711  3.145295
7   Sequential  9000000  3.224931  4.480183

[90 rows x 4 columns]